::selection { background: white; /* WebKit/Blink Browsers */ }
  .down {
    color: red;
  }
  .up {
    color: green;
  }
  .noChange {
    color: blue;
  }
  .main {
    align-content: center;
  }
  .icon-heart {
    color: #b71c1c;
  }
  .hidden {
    display: none !important;
    visibility: hidden !important;
  }
